body {
    background-color: #efefef;
    color: #8e8e8e;
    font-family: 'Titillium Web', sans-serif;
}


.nav-logo a {
    font-family: 'Concert One', sans-serif;
    color: #ffffff;
    font-size: 5.5em;
    0px 8px 23px rgba(0,0,0,0.1);   
}
.nav-logo a {
    font-family: 'Concert One', sans-serif;
    color: #ffa900;
    font-size: 5.5em;
}

.btn-link {
    color: #9e9e9e;
}

.nav-logo a:hover {
    text-decoration:none
}


td {
    font-size: 3em;    
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

.activationlefttable {
    font-size: 1.6em;
    text-align: right;
    padding-left: 20px;        
    padding-right: 20px;        
}
.activationrighttable {
    font-size: 1.5em;
    text-align: left;
    padding-right: 20px;   
    width: 20%;  
}

.lefttable {
    font-size: 2em;
    text-align: right;
    padding-left: 20px;        
    padding-right: 20px;        
}

.righttable {
    font-size: 2em;
    width: 53%;
    text-align: left;
    padding-left: 0px;        
    padding-right: 20px;     
}

.spin {
    width: 32px;
}

.ipactivation {
    width: 160px; 
}

.green {
    color: #00e600;
}

.smaller {
    font-size: 1.2em;
}

.passcode {
    font-size: 4em;
}

.email {
    font-size: 1.5em;
}

.getnewone {
    color: #fdce45;
    cursor: pointer;
}

.getnewone:hover {
    color: #fdce45;
    cursor: pointer;
}

.red {
    color: #3671ff;
}

.big {
    font-size: 0.4em;
}

.enabler {
    margin-top: -7px;
}

.setupinfo {
    margin: 50px;
}

.setupvideo {
    -webkit-box-shadow: 2px 7px 16px -6px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 7px 16px -6px rgba(0,0,0,0.45);
    box-shadow: 2px 7px 16px -6px rgba(0,0,0,0.45);
    background-color: black;
}

p img {
    max-height: 400px;
}